<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	<insert id="regist1" parameterType="map">
		insert into menu values(
				<!-- map.get("name") -->
				#{name}, 
				<!-- map.get("price") -->
				#{price}
				)
	</insert>

<!-- 	<insert id="regist2" parameterType="spring.entity.Menu"> -->
	<insert id="regist2" parameterType="menu">
			
		insert into menu values(
				<!-- menu.get("name") -->
				#{name}, 
				<!-- menu.get("price") -->
				#{price}
				)
	</insert>
	
	<select id="list" resultType="menu">
		select * from menu order by name asc
	</select>
	
	
		
	
	
	
</mapper>


