<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="auction.repository.auction.AuctionDaoImpl">
	<insert id="admin_auction_regist" parameterType="auction">
		insert into auction_main values(
			auction_seq.nextval,
			#{auction_nm},
			#{auction_info},
			sysdate,
			#{auction_addr1},
			#{auction_start},
			#{auction_end},
			#{auction_type},
			#{auction_post},
			#{auction_addr2},
			#{auction_image}
			)
	</insert>
	
	<select id="admin_auction_list" resultType="auction">
		select * from auction_main order by auction_sq desc
	</select>
	
	<select id="admin_auction_listPage" resultType="auction" parameterType="map">
		select X.* from (
					select rownum as rn, A.* from (
		<choose>
			<when test="sortType != null and sortType.equalsIgnoreCase('nm')">
				select * from auction_main order by auction_nm asc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('nmR')">
				select * from auction_main order by auction_nm desc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('type')">
				select * from auction_main order by auction_type desc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('typeR')">
				select * from auction_main order by auction_type asc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('dtR')">
				select * from auction_main order by auction_sq asc) A 
			</when>
			<otherwise>
				select * from auction_main order by auction_sq desc) A 
			</otherwise>
		</choose>
					where rownum <![CDATA[ <= ]]> #{page.endIndex}) X
		where X.rn <![CDATA[ >= ]]> #{page.startIndex}
	</select>
	
	<select id="admin_auction_listCnt" resultType="int">
		select count(*) from auction_main
	</select>
	
	<select id="admin_auction_search" resultType="auction" parameterType="map">
		select X.* from (
			select rownum as rn, A.* from (
				select * from auction_main where UPPER(${searchType}) like '%'||UPPER(#{searchKey})||'%' 
		<choose>
			<when test="sortType != null and sortType.equalsIgnoreCase('nm')">
				order by auction_nm asc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('nmR')">
				order by auction_nm desc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('type')">
				order by auction_type desc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('typeR')">
				order by auction_type asc, auction_sq desc) A 
			</when>
			<when test="sortType != null and sortType.equalsIgnoreCase('dtR')">
				order by auction_sq asc) A 
			</when>
			<otherwise>
				order by auction_sq desc) A 
			</otherwise>
		</choose>
			where rownum <![CDATA[ <= ]]> #{page.endIndex}) X
		where X.rn <![CDATA[ >= ]]> #{page.startIndex}
	</select>
	
	<select id="admin_auction_searchCnt" resultType="int" parameterType="map">
		select count(*) from auction_main where UPPER(${searchType}) like '%'||UPPER(#{searchKey})||'%'
	</select>
	
	<select id="admin_auction_find" resultType="auction" parameterType="int">
		select * from auction_main where auction_sq=#{auction_sq}
	</select>
	
	<select id="admin_auction_getStart" resultType="String" parameterType="int">
		select auction_start from auction_main where auction_sq=#{auction_sq}
	</select>
	
	<select id="admin_auction_getEnd" resultType="String" parameterType="int">
		select auction_end from auction_main where auction_sq=#{auction_sq}
	</select>
	
	<select id="admin_auction_exhibitList" resultType="int" parameterType="int">
		select art_no as art_sq from auction_art where auction_no=#{auction_sq} order by desc art_no
	</select>
	
	<update id="admin_auction_edit" parameterType="auction">
		update auction_main set 
			auction_nm=#{auction_nm}, 
			auction_info=#{auction_info}, 
			auction_addr1=#{auction_addr1}, 
			auction_start=#{auction_start}, 
			auction_end=#{auction_end}, 
			auction_type=#{auction_type}, 
			auction_post=#{auction_post}, 
			auction_addr2=#{auction_addr2},
			auction_image=#{auction_image}
		where auction_sq=#{auction_sq}
	</update>
	
	<update id="admin_auction_testEditImage" parameterType="map">
		update auction_main set 
			auction_image=#{saveName}
		where auction_sq=#{sq}
	</update>
	
	<delete id="admin_auction_delete" parameterType="int">
		delete from auction_main where auction_sq=#{auction_sq}
	</delete>
	
	<delete id="admin_auction_deleteAll">
		delete from auction_main
	</delete>
		
</mapper>