<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction.repository.online.OnlineDaoImpl">
	
	<insert id="insertBid" parameterType="bid">
		insert into bid values(
			bid_seq.nextval,
			#{a_sq},
			#{art_sq},
			#{user_id},
			sysdate,
			#{bid_bp}
		)
		<selectKey keyProperty="bid_sq" resultType="Integer" order="AFTER">
			SELECT bid_seq.currval FROM dual
		</selectKey>
	</insert>

	<!-- 진행경매 : 개요 -->
	<select id="currentAuction" resultType="auction">
		select * 
		FROM auction_main
		<![CDATA[
			WHERE 
				sysdate >= to_date(auction_start, 'YYYY-MM-DD HH24:MI')
			and
				sysdate <= to_date(auction_end, 'YYYY-MM-DD HH24:MI')
		]]>
	</select>

	<!-- 진행경매 : 목록 -->
	<select id="currentList" resultType="view" parameterType="paging">
		select * from(
			select rownum as lot, tmp.* from(
				select * from auction_view
				where sysdate between 
						to_date(a_start, 'YYYY-MM-DD HH24:MI')  
					and 
					to_date(a_end, 'YYYY-MM-DD HH24:MI')
				<!-- order by art_sq asc -->
			)tmp
		) where lot between #{sn} and #{fn}
	</select>
	
	<!-- 진행경매 : 검색 -->	
	<select id="currentSearch" resultType="view" parameterType="paging">
	select * from(
		select rownum as rn, a.* from(
			select * from(
				select rownum as lot, tmp.* from(
					select * 	from auction_view
					where sysdate between 
							to_date(a_start, 'YYYY-MM-DD HH24:MI') 
						and 
							to_date(a_end, 'YYYY-MM-DD HH24:MI')
					<!-- order by art_sq asc -->
				)tmp
			)
			<where> 
				<if test="lot != null and lot == 0">
						<if test="art_eprice_min != null and art_eprice_min != 0">
							art_ep between #{art_eprice_min} 
							<if test="art_eprice_max != null and art_eprice_max != 0">
								and #{art_eprice_max}
							</if>
						</if>
						<if test="art_artist != null and art_artist != ''">
							and art_artist like '%'||#{art_artist}||'%'					
						</if>
						<if test="art_nm != null and art_nm != ''">
							and art_nm like '%'||#{art_nm}||'%'
						</if>
					</if>
					<if test="lot != null and lot != 0">
						<if test="art_eprice_min != null and art_eprice_min != 0">
							art_ep between #{art_eprice_min} 
							<if test="art_eprice_max != null and art_eprice_max != 0">
								and #{art_eprice_max}
							</if>
						</if>
						<if test="art_artist != null and art_artist != ''">
							and art_artist like '%'||#{art_artist}||'%'					
						</if>
						<if test="art_nm != null and art_nm != ''">
							and art_nm like '%'||#{art_nm}||'%'
						</if>
						and lot=#{lot}
					</if>
				</where>
				order by lot asc
			) a 
	) where rn between #{sn} and #{fn}
	</select>
	
	<!-- 예정경매 -->
	<select id="upcomingList" resultType="auction" parameterType="paging">
		select * from(
			select rownum as rn, tmp.* from(
				select * from auction_main 
					where to_date(auction_start, 'YYYY-MM-DD HH24:MI')>sysdate
				order by auction_sq asc
			)tmp
		) where rn between #{sn} and #{fn}
	</select>
	
	<!-- 경매결과 -->
	<select id="resultList" resultType="auction" parameterType="paging">
		select * from(
			select rownum as rn, tmp.* from(
				select * from auction_main 
					where sysdate>to_date(auction_end, 'YYYY-MM-DD HH24:MI') 
				order by auction_sq asc
			)tmp
		) where rn between #{sn} and #{fn}
	</select>
	
	<!-- 종료경매 : 목록 -->
	<select id="detailList" resultType="view" parameterType="paging">
		select * from(
			select rownum as lot, tmp.* from(
				select * from auction_view
				where a_sq=#{no}
				<!-- order by art_sq asc -->
			) tmp
		) where lot between #{sn} and #{fn}
	</select>
	
	<!-- 종료경매 : 검색 -->
	<select id="detailSearch" resultType="view" parameterType="paging">
		select * from(
			select rownum as lot, tmp.* from(
				select * from auction_view
				where a_sq=#{no}
			) tmp
		)
		<where>
			<if test="lot != null and lot == 0">
				<if test="art_eprice_min != null and art_eprice_min != 0">
					art_ep between #{art_eprice_min} 
					<if test="art_eprice_max != null and art_eprice_max != 0">
						and #{art_eprice_max}
					</if>
				</if>
				<if test="art_artist != null and art_artist != ''">
					and art_artist like '%'||#{art_artist}||'%'					
				</if>
				<if test="art_nm != null and art_nm != ''">
					and art_nm like '%'||#{art_nm}||'%'
				</if>
			</if>
			<if test="lot != null and lot != 0">
				<if test="art_eprice_min != null and art_eprice_min != 0">
					art_ep between #{art_eprice_min} 
					<if test="art_eprice_max != null and art_eprice_max != 0">
						and #{art_eprice_max}
					</if>
				</if>
				<if test="art_artist != null and art_artist != ''">
					and art_artist like '%'||#{art_artist}||'%'					
				</if>
				<if test="art_nm != null and art_nm != ''">
					and art_nm like '%'||#{art_nm}||'%'
				</if>
				and lot = #{lot}
			</if> 
		</where>
	</select>
	
	<!-- 이하 PagingUtil의 각 계산 메소드에서의 전체 경매 또는 작품수 계산과 관련된 sql문 -->
	<!-- 진행경매 : 목록 -->
	<select id="artListCount" parameterType="paging" resultType="integer">
		select count(*) from auction_view 
			where sysdate between 
				to_date(a_start, 'YYYY-MM-DD HH24:MI') 
			and 
				to_date(a_end, 'YYYY-MM-DD HH24:MI')
	</select>
	
	<!-- 진행경매 : 검색 -->
	<select id="artSearchCount" parameterType="paging" resultType="integer">
		select count(*) from(
			select rownum as lot, tmp.* from(
				select * from auction_view
				where sysdate between
					to_date(a_start, 'YYYY-MM-DD HH24:MI')
				and
					to_date(a_end, 'YYYY-MM-DD HH24:MI')
			)tmp
		)
		<where>
			<if test="lot != null and lot == 0">
				<if test="art_eprice_min != null and art_eprice_min != 0">
					art_ep between #{art_eprice_min} 
					<if test="art_eprice_max != null and art_eprice_max != 0">
						and #{art_eprice_max}
					</if>
				</if>
				<if test="art_artist != null and art_artist != ''">
					and art_artist like '%'||#{art_artist}||'%'					
				</if>
				<if test="art_nm != null and art_nm != ''">
					and art_nm like '%'||#{art_nm}||'%'
				</if>
			</if>
			<if test="lot != null and lot != 0">
				<if test="art_eprice_min != null and art_eprice_min != 0">
					art_ep between #{art_eprice_min} 
					<if test="art_eprice_max != null and art_eprice_max != 0">
						and #{art_eprice_max}
					</if>
				</if>
				<if test="art_artist != null and art_artist != ''">
					and art_artist like '%'||#{art_artist}||'%'					
				</if>
				<if test="art_nm != null and art_nm != ''">
					and art_nm like '%'||#{art_nm}||'%'
				</if>
				and lot = #{lot}
			</if>
		</where>
	</select>
	
	<!-- 진행경매 : 상세페이지 -->
	<select id="curDetail" resultType="view" parameterType="map">
		select * from auction_view where a_sq=#{auction_sq} and art_sq=#{art_sq}
	</select>
	
	<!-- 진행경매 : 응찰목록 -->
	<select id="getBidList" resultType="bid" parameterType="map">
		select * from bid where a_sq=#{auction_sq} and art_sq=#{art_sq} order by bid_sq desc
	</select>
	
	<!-- 진행경매 : 응찰일자 -->
	<select id="getBidDate" resultType="String" parameterType="integer">
		select to_char(bid_dt, 'YYYY-MM-DD HH24:MI:SS') from bid where bid_sq=#{bid_sq}
	</select>

	<!-- 예정경매 -->
	<select id="upcomingAuctionCount" resultType="integer">
		select count(*) from auction_main where to_date(auction_start, 'YYYY-MM-DD HH24:MI')>sysdate
	</select>
	
	<!-- 경매결과 -->
	<select id="resultAuctionCount" resultType="integer">
		select count(*) from auction_main where sysdate>to_date(auction_end, 'YYYY-MM-DD HH24:MI')
	</select>

	<!-- 종료경매 : 목록 -->
	<select id="resultArtCount"  parameterType="integer" resultType="integer">
		select count(*) from auction_view where a_sq = #{no}
	</select>
	
	<!-- 종료경매 : 검색 -->
	<select id="resultSearchCount" parameterType="paging" resultType="integer">
		select count(*) from(
			select rownum as lot, tmp.* from(
				select * from auction_view
				where a_sq=#{no}
			)tmp
		)
		<where>
			<if test="lot != null and lot == 0">
				<if test="art_eprice_min != null and art_eprice_min != 0">
					art_ep between #{art_eprice_min} 
					<if test="art_eprice_max != null and art_eprice_max != 0">
						and #{art_eprice_max}
					</if>
				</if>
				<if test="art_artist != null and art_artist != ''">
					and art_artist like '%'||#{art_artist}||'%'					
				</if>
				<if test="art_nm != null and art_nm != ''">
					and art_nm like '%'||#{art_nm}||'%'
				</if>
			</if>
			<if test="lot != null and lot != 0">
				<if test="art_eprice_min != null and art_eprice_min != 0">
					art_ep between #{art_eprice_min} 
					<if test="art_eprice_max != null and art_eprice_max != 0">
						and #{art_eprice_max}
					</if>
				</if>
				<if test="art_artist != null and art_artist != ''">
					and art_artist like '%'||#{art_artist}||'%'					
				</if>
				<if test="art_nm != null and art_nm != ''">
					and art_nm like '%'||#{art_nm}||'%'
				</if>
				and lot = #{lot}
			</if> 
		</where>
	</select>
</mapper>